In [139]:
import pandas as pd

rawdata="Resources/purchase_data.csv"


purchase_data = pd.read_csv(rawdata)
df=pd.DataFrame(purchase_data)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [140]:
#Total Number of Players
players=len(df["SN"].unique())
print("Total Players")
print("--------------")
print(players)

Total Players
--------------
576

In [175]:
#Number of Unique Items
items=len(df["Item Name"].unique())

#Average Purchase Price
avgp=round(df["Price"].mean(),2)

#Total Number of Purchases
pchstot=len(df)

#Total Revenue
rev=df["Price"].sum()

#PAcols= ["Unique Items", "Average Price", "Total Number of Purchases", "Total Revenue"]
#PAlist=[items, avgp, pchstot, rev]
#PAdf=pd.DataFrame(PAlist, columns=[PAcols])
#PAdf

#lst = [items, avgp, pchstot, rev]

#df2 = pd.DataFrame(lst, columns =['Unique Items', 'Average Price', 'Total Number of Purchases','Total Revenue']) 
#print(df2) 

PAdf = pd.DataFrame({
    "Unique Items": [items],
    "Average Price": [avgp],
    "Total Number of Purchases": [pchstot],
    "Total Revenue": [rev]
})
PAdf

   Unique Items  Average Price  Total Number of Purchases  Total Revenue
0           179           3.05                        780        2379.77

In [178]:
#Percentage and Count of Male Players

dfp=df.drop_duplicates(subset=['SN'])

male=dfp[dfp["Gender"]=="Male"]["Gender"].count()
malep=round(male/576*100,2)
female=dfp[dfp["Gender"]=="Female"]["Gender"].count()
femalep=round(female/576*100,2)
nonb=dfp[dfp["Gender"]=="Other / Non-Disclosed"]["Gender"].count()
nonbp=round(nonb/576*100,2)

percs={
    "Male": [male, malep],
    "Female": [female, femalep],
    "Other/Non-Disclosed": [nonb, nonbp]
}
grouped_usa_df = dfp.groupby(['Gender'])
grouped_usa_df.count().head()
#print(df[female].count())
percdf=pd.DataFrame(percs)
percdf

painting_df = pd.DataFrame([
    {"Total Count": "Mona Lisa (Knockoff)", "Price": 25,
     "Popularity": "Very Popular"},
    {"Painting": "Van Gogh (Knockoff)", "Price": 20, "Popularity": "Popular"},
    {"Painting": "Starving Artist", "Price": 10, "Popularity": "Average"},
    {"Painting": "Toddler Drawing", "Price": 1, "Popularity": "Not Popular"}
])
painting_df
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

     Male  Female  Other/Non-Disclosed
0  484.00   81.00                11.00
1   84.03   14.06                 1.91